Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2023-10, with the labels that each got.

#64 Add glimr endpoint
  app/controllers/tax_tribs/status_controller.rb
  app/services/tax_tribs/status.rb
  config/routes.rb
  db/schema.rb
  spec/controllers/status_controller_spec.rb
  spec/services/tax_tribs/status_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-64

#81 Update GovFrontend
  Gemfile
  Gemfile.lock
  README.md
  spec/helpers/application_helper_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-81

#79 RST 5947 - Text message case details
  app/mailers/notify_mailer.rb
  spec/mailers/notify_mailer_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-79
