Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2023-12, with the labels that each got.

#107 Provide better error message in Admin section
  Gemfile.lock
  app/controllers/admin/case_documents_controller.rb
  pipeline-steps/test-application.yaml
  spec/controllers/admin/glimr_generation_controller_spec.rb
  spec/spec_helper.rb
  test-rspec.xml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-107

#76 RST-5898 Removed additional header
  app/views/home/cookies.html.erb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-76

#115 Upgrade jquery
  app/assets/javascripts/application.js
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-115

#117 fix credentials issue
  .env.example
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-117

#112 Upgrade sentry
  Gemfile
  Gemfile.lock
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-112

#114 Add submitted at to Tribunal Case
  app/services/tax_tribs/case_creator.rb
  db/migrate/20231205134237_add_submitted_at_to_tribunal_case.rb
  db/schema.rb
  spec/services/tax_tribs/case_creator_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-114
