Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2023-09, with the labels that each got.

#8 Switch to workload identity for key vault access
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/templates/cronjob.yaml
  charts/tax-tribunals-application/templates/cronjob_payments.yaml
  charts/tax-tribunals-application/templates/glimr_proxy.yaml
  charts/tax-tribunals-application/templates/sidekiq.yaml
  charts/tax-tribunals-application/values.dev.template.yaml
  charts/tax-tribunals-application/values.preview.template.yaml
  charts/tax-tribunals-application/values.yaml
  renovate.json
  sidekiq.sh
Labels: enable_keep_helm

#16 Add cron image to files
  charts/tax-tribunals-application/values.aat.template.yaml
  charts/tax-tribunals-application/values.preview.template.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-16

#32 upgrade renovate
  .bundler-audit.yml
  Gemfile
  Gemfile.lock
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-32

#41 Add app insights secret
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
  config/application.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-41

#47 Add bundler audit
  .bunder-audit.yml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-47

#46 Restore glimr status
  README.md
  app/models/document_upload.rb
  app/presenters/check_answers/section_presenter.rb
  app/services/tax_tribs/status.rb
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
  spec/controllers/status_controller_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-46

#27 Add glimr direct api
  README.md
  app/controllers/admin/glimr_generation_controller.rb
  app/services/glimr_direct_api_client.rb
  app/services/glimr_direct_api_client/api.rb
  app/services/glimr_direct_api_client/available.rb
  app/services/glimr_direct_api_client/base.rb
  app/services/glimr_direct_api_client/find_case.rb
  app/services/glimr_direct_api_client/hwf_requested.rb
  app/services/glimr_direct_api_client/pay_by_account.rb
  app/services/glimr_direct_api_client/register_new_case.rb
  app/services/glimr_direct_api_client/update.rb
  app/services/tax_tribs/glimr_new_case.rb
  app/services/tax_tribs/status.rb
  app/sidekiq/admin/generate_glimr_record_job.rb
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
  features/step_definitions/grounds_for_appeal_steps.rb
  spec/services/glimr_direct_api_client/api_spec.rb
  spec/services/glimr_direct_api_client/available_spec.rb
  spec/services/glimr_direct_api_client/find_case_spec.rb
  spec/services/glimr_direct_api_client/hwf_requested_spec.rb
  spec/services/glimr_direct_api_client/pay_by_account_spec.rb
  spec/services/glimr_direct_api_client/register_new_case_spec.rb
  spec/services/glimr_direct_api_client/update_spec.rb
  spec/services/tax_tribs/glimr_new_case_spec.rb
  spec/services/tax_tribs/status_spec.rb
  spec/sidekiq/admin/generate_glimr_records_job_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-27
