Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-10, with the labels that each got.

#315 rst-6927
  app/assets/javascripts/modules/password-toggle-variables.js.erb
  app/assets/javascripts/modules/password-toggle.js
  config/locales/cy.yml
  config/locales/en.yml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-315

#245 RST-6770 - change language options to english and welsh
  app/mailers/notify_mailer.rb
  app/value_objects/language.rb
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
  config/initializers/notify_mailer.rb
  config/locales/cy.yml
  config/locales/en.yml
  features/step_definitions/appeal_case_type_steps.rb
  features/step_definitions/common_steps.rb
  features/step_definitions/save_appeal_steps.rb
  features/support/navigation_helpers.rb
  features/support/page_objects/appeal/contact_hmrc_page.rb
  features/support/page_objects/select_language_page.rb
  spec/controllers/steps/select_language_controller_spec.rb
  spec/forms/select_language/save_language_form_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/support/notify_mailer_shared_examples.rb
  test-rspec.xml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-245

#323 rebuild master
  README.md
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-323

#324 roll back chart
  charts/tax-tribunals-application/Chart.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-324

#313 RST-6848 Cases saved to show submitted applications
  app/controllers/users/cases_controller.rb
  app/views/users/cases/_case_row.html.erb
  app/views/users/shared/_case_saved.html.erb
  config/locales/cy.yml
  config/locales/en.yml
  spec/controllers/users/cases_controller_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-313

#326 Test env v1
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
  lib/tasks/test.rake
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-326

#329 Rst 6942 - fix styling issue on cookies banner
  app/views/layouts/_cookie_banner.html.erb
  charts/tax-tribunals-application/Chart.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-329

#290 RST-6633 Steps save and return page reorder
  app/controllers/appeal_home_controller.rb
  app/controllers/closure_home_controller.rb
  app/controllers/steps/details_step_controller.rb
  app/controllers/steps/save_and_return_controller.rb
  app/controllers/steps/select_language_controller.rb
  app/controllers/users/logins_controller.rb
  app/controllers/users/registrations_controller.rb
  app/forms/save_and_return/save_form.rb
  app/services/appeal_decision_tree.rb
  app/services/tax_tribs/closure_decision_tree.rb
  app/services/tax_tribs/decision_tree.rb
  app/views/appeal_home/index.html.erb
  app/views/closure_home/index.html.erb
  app/views/layouts/application.html.erb
  app/views/steps/save_and_return/edit.html.erb
  app/views/users/shared/_case_saved.html.erb
  config/locales/cy.yml
  config/locales/en.yml
  features/closure_case_type.feature
  features/save_and_return.feature
  features/step_definitions/appeal_case_type_steps.rb
  features/step_definitions/challenge_decision_steps.rb
  features/step_definitions/save_and_return_steps.rb
  features/step_definitions/save_appeal_steps.rb
  features/step_definitions/user_type_steps.rb
  features/support/navigation_helpers.rb
  features/support/page_objects/appeal/appeal_case_type_page.rb
  features/support/page_objects/save_and_return_page.rb
  features/support/page_objects/save_confirmation_page.rb
  features/support/page_objects/select_language_page.rb
  spec/controllers/appeal_home_controller_spec.rb
  spec/controllers/closure_home_controller_spec.rb
  spec/controllers/steps/appeal/case_type_controller_spec.rb
  spec/controllers/steps/closure/case_type_controller_spec.rb
  spec/controllers/steps/save_and_return_controller_spec.rb
  spec/controllers/users/logins_controller_spec.rb
  spec/controllers/users/registrations_controller_spec.rb
  spec/services/appeal_decision_tree/case_type_step_spec.rb
  spec/services/tax_tribs/closure_decision_tree_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-290

#330 RST 6891 - Enable caching headers on static assets and enable Brotli compression
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/layouts/_phase_banner.html.erb
  app/views/layouts/application.html.erb
  charts/tax-tribunals-application/Chart.yaml
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  lib/tasks/brotli.rake
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-330

#331 RST-6892 - Increased web security
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/forms/cookie/setting_form.rb
  app/views/admin/case_documents/show.html.erb
  app/views/layouts/analytics/_gtm_iframe.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/govuk_template.html.erb
  app/views/layouts/mailer.html.erb
  app/views/static_pages/maintenance.html.erb
  app/views/steps/shared/_address_lookup.html.erb
  charts/tax-tribunals-application/Chart.yaml
  config/environments/production.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/locales/cy_guidance.yml
  config/locales/en_guidance.yml
  public/404.html
  public/422.html
  public/500.html
  spec/forms/cookie/setting_form_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-331
