Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-07, with the labels that each got.

#221 RST-6712 add sentry logs
  app/controllers/step_controller.rb
  app/services/uploader/add_file.rb
  app/services/uploader/delete_file.rb
  app/services/uploader/list_files.rb
  app/sidekiq/admin/generate_glimr_record_job.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-221

#225 RST-6346 update govuk-frontend v3.12 to v3.15
  package-lock.json
  package.json
  yarn.lock
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-225

#217 RST 6355 - upgrade to Rails 7
  .env.test
  .gitignore
  .rubocop.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/steps/closure/check_answers_controller.rb
  app/controllers/steps/details/check_answers_controller.rb
  app/forms/steps/appeal/dispute_type_form.rb
  app/forms/steps/challenge/decision_status_form.rb
  app/forms/steps/hardship/disputed_tax_paid_form.rb
  app/mailers/notify_mailer.rb
  app/services/uploader/add_file.rb
  app/services/uploader/api_client.rb
  app/services/uploader/delete_file.rb
  app/services/uploader/file.rb
  app/services/uploader/list_files.rb
  app/sidekiq/admin/restore_images_job.rb
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/config.rb
  config/initializers/content_security_policy.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/initializers/permissions_policy.rb
  config/settings.yml
  features/support/page_objects/appeal/appeal_case_type_page.rb
  spec/controllers/steps/closure/check_answers_controller_spec.rb
  spec/controllers/steps/details/check_answers_controller_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/models/user_spec.rb
  spec/services/tax_tribs/case_creator_spec.rb
  spec/services/uploader/add_file_spec.rb
  spec/services/uploader/file_spec.rb
  spec/services/uploader_spec.rb
  spec/sidekiq/admin/restore_images_job_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-217

#224 RST-6726 add missing translations
  README.md
  app/views/steps/shared/_send_application_details.html.erb
  config/locales/cy.yml
  config/locales/cy_cookies.yml
  config/locales/cy_guidance.yml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-224

#240 RST-6791 - Setting new memory values
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-240

#244 RST-6791 Memory update for sidekiq
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-244

#246 RST-6635 Text changes for clarity
  charts/tax-tribunals-application/Chart.yaml
  config/locales/cy.yml
  config/locales/cy_guidance.yml
  config/locales/en.yml
  config/locales/en_guidance.yml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-246
