Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-09, with the labels that each got.

#284 Ruby downgrade for CI fix
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-284

#280 Prevent error when accessing contact URL
  Gemfile
  Gemfile.lock
  app/controllers/steps/hardship/hardship_contact_hmrc_controller.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-280

#292 Update to 3.3.5
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-292

#295 RST-6872 - Replacing grover and puppeteer for wicked_pdf
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/steps/closure/check_answers_controller.rb
  app/controllers/steps/details/check_answers_controller.rb
  app/services/tax_tribs/grover_pdf.rb
  config/initializers/grover.rb
  config/initializers/wicked_pdf.rb
  features/support/navigation_helpers.rb
  package-lock.json
  package.json
  spec/controllers/steps/closure/check_answers_controller_spec.rb
  spec/controllers/steps/details/check_answers_controller_spec.rb
  spec/services/tax_tribs/case_details_pdf_spec.rb
  spec/services/tax_tribs/grover_pdf_spec.rb
  yarn.lock
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-295

#301 Fixing double render pdf
  app/services/tax_tribs/case_details_pdf.rb
  config/environments/development.rb
  spec/services/tax_tribs/case_details_pdf_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-301

#287 RST 6843 - Updated govuk-frontend library to 5.6 (latest version)
  Dockerfile
  Gemfile
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/views/layouts/_cookie_banner.html.erb
  app/views/layouts/_phase_banner.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/govuk_template.html.erb
  config/initializers/assets.rb
  features/step_definitions/guidance_page_steps.rb
  features/support/page_objects/guidance_page.rb
  package.json
  yarn.lock
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-287

#309 RST-6889 Removing grover references
  Dockerfile
  app/controllers/steps/closure/check_answers_controller.rb
  app/controllers/steps/details/check_answers_controller.rb
  app/services/tax_tribs/pdf_generator.rb
  app/services/tax_tribs/rebuild_pdf.rb
  config/initializers/grover.rb
  spec/services/tax_tribs/pdf_generator_spec.rb
  test-rspec.xml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-309
