Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-06, with the labels that each got.

#218 RST-6578 Add pound symbol to penalty_amount to fix email rendering error
  Gemfile
  Gemfile.lock
  app/forms/steps/details/send_application_details_form.rb
  app/presenters/check_answers/appeal_section_presenter.rb
  charts/tax-tribunals-application/Chart.yaml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-218

#219 add sentry dsn to values.yaml
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-219

#220 RST-6711 catch locales which arent en or cy
  app/controllers/application_controller.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-220

#223 RST-6733 reduce transaction rate
  Jenkinsfile_CNP
  config/initializers/sentry.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-223
