Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-12, with the labels that each got.

#376 RST-7043 test speed increase
  features/support/env.rb
  features/support/page_objects/taxpayer_details_page.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-376

#379 rst 7023
  app/views/layouts/_cookie_banner.html.erb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-379

#357 rst-6978 & rst-6979
  app/mailers/notify_mailer.rb
  charts/tax-tribunals-application/Chart.yaml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-357
