Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-02, with the labels that each got.

#164 Update chart
  Gemfile
  Jenkinsfile_CNP
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-164

#165 update time remaining
  .env.example
  README.md
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-165

#171 RST-6237 - Fix dropzone
  app/assets/javascripts/modules/doc-upload.js
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-171

#172 Rst 5979 b
  app/models/tribunal_case.rb
  app/services/tax_tribs/case_creator.rb
  db/migrate/20240214124738_remove_test_column.rb
  db/schema.rb
  spec/models/tribunal_case_spec.rb
  spec/services/tax_tribs/case_creator_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-172
