Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2024-08, with the labels that each got.

#256 log and test for rebuild pdf
  app/services/tax_tribs/rebuild_pdf.rb
  spec/services/tax_tribs/rebuild_pdf_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-256

#261 RST-6793 Adding rebuild controller and updated rebuild pdf
  app/controllers/appeal_case_rebuilds_controller.rb
  app/controllers/closure_case_rebuilds_controller.rb
  app/services/tax_tribs/rebuild_pdf.rb
  charts/tax-tribunals-application/Chart.yaml
  spec/controllers/appeal_case_rebuilds_controller_spec.rb
  spec/controllers/closure_case_rebuilds_controller_spec.rb
  spec/services/tax_tribs/rebuild_pdf_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-261

#262 RST-6793 pdf rebuild
  Gemfile.lock
  app/services/tax_tribs/grover_pdf.rb
  spec/services/tax_tribs/grover_pdf_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-262

#257 Minor ruby and gem updates
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-257

#270 Adding back listener and description for storage use from localhost
  Gemfile
  Gemfile.lock
  README.md
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-270

#266 RST-6272 dynatrace cookie and content
  app/helpers/application_helper.rb
  app/views/home/cookies.html.erb
  app/views/layouts/analytics/_dynatrace_script.erb
  app/views/layouts/application.html.erb
  charts/tax-tribunals-application/Chart.yaml
  config/locales/cy_cookies.yml
  config/locales/en_cookies.yml
  spec/helpers/application_helper_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-266

#273 Revert "RST-6272 dynatrace cookie and content"
  app/helpers/application_helper.rb
  app/views/home/cookies.html.erb
  app/views/layouts/analytics/_dynatrace_script.erb
  app/views/layouts/application.html.erb
  charts/tax-tribunals-application/Chart.yaml
  config/locales/cy_cookies.yml
  config/locales/en_cookies.yml
  spec/helpers/application_helper_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-273
