Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2025-01, with the labels that each got.

#386 Minor gem updates
  Gemfile.lock
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-386

#393 Do not auto merge renovate changes
  renovate.json
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-393

#394 Minor gem updates
  Gemfile.lock
Labels: ns:tax-tribunals, prd:tax-tribunals

#387 RST-6982 - pdf generation switch
  Dockerfile
  Dockerfile.development
  Gemfile
  Gemfile.lock
  app/controllers/steps/closure/check_answers_controller.rb
  app/controllers/steps/details/check_answers_controller.rb
  app/services/tax_tribs/case_details_pdf.rb
  app/services/tax_tribs/pdf_generator.rb
  config/initializers/grover.rb
  config/initializers/wicked_pdf.rb
  features/support/navigation_helpers.rb
  package.json
  spec/controllers/steps/closure/check_answers_controller_spec.rb
  spec/controllers/steps/details/check_answers_controller_spec.rb
  spec/services/tax_tribs/case_details_pdf_spec.rb
  spec/services/tax_tribs/pdf_generator_spec.rb
  yarn.lock
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-387

#405 RST-7112 Automation test maintenance
  features/support/generic_helpers.rb
  features/support/navigation_helpers.rb
  features/support/page_objects/check_answers_page.rb
  features/support/page_objects/confirmation_page.rb
Labels: ns:tax-tribunals, prd:tax-tribunals

#398 RST-7072 - Ruby update
  .env.test
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
  spec/services/tax_tribs/closure_decision_tree_spec.rb
  spec/services/tax_tribs/hardship_decision_tree_spec.rb
  spec/services/tax_tribs/lateness_decision_tree_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals

#404 RST-7100 Updated GovUK-Frontend to v5.8.0
  app/assets/stylesheets/application.scss
  charts/tax-tribunals-application/Chart.yaml
  package.json
  yarn.lock
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals

#406 Update to rails 8
  Gemfile
  Gemfile.lock
  app/controllers/surveys/survey_base_controller.rb
  app/controllers/users/cases_controller.rb
  app/controllers/users/logins_controller.rb
  bin/rails
  bin/rake
  bin/setup
  config/application.rb
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/puma.rb
  public/robots.txt
  spec/forms/steps/shared/what_support_form_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-406

#408 RST-7057 penalty content
  charts/tax-tribunals-application/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-408
