Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2025-03, with the labels that each got.

#431 Minor gem updates
  Gemfile.lock
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-431

#436 RST-6210 Case Type Refactor
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/steps/appeal/case_type_controller.rb
  app/controllers/steps/appeal/case_type_details_controller.rb
  app/controllers/steps/appeal/case_type_show_more_controller.rb
  app/forms/steps/appeal/case_type_form.rb
  app/forms/steps/appeal/case_type_show_more_form.rb
  app/presenters/check_answers/appeal_section_presenter.rb
  app/services/appeal_decision_tree.rb
  app/services/tax_tribs/decision_tree.rb
  app/views/steps/appeal/case_type/edit.html.erb
  app/views/steps/appeal/case_type_details/edit.html.erb
  app/views/steps/appeal/case_type_show_more/edit.html.erb
  config/environments/development.rb
  config/locales/cy.yml
  config/locales/en.yml
  config/routes.rb
  features/appeal_case_type.feature
  features/save_and_return.feature
  features/step_definitions/appeal_case_type_details_steps.rb
  features/step_definitions/appeal_case_type_steps.rb
  features/step_definitions/save_appeal_steps.rb
  features/support/generic_helpers.rb
  features/support/navigation_helpers.rb
  features/support/page_objects/appeal/appeal_case_type_details_page.rb
  features/support/page_objects/appeal/appeal_case_type_page.rb
  features/support/page_objects/appeal/appeal_case_type_show_more_page.rb
  spec/controllers/steps/appeal/case_type_details_controller_spec.rb
  spec/controllers/steps/appeal/case_type_show_more_controller_spec.rb
  spec/forms/steps/appeal/case_type_form_spec.rb
  spec/forms/steps/appeal/case_type_show_more_form_spec.rb
  spec/services/appeal_decision_tree/case_type_step_spec.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-436

#435 RST-7191 - Helm update
  charts/tax-tribunals-application/Chart.yaml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-435

#428 Automation test repair on TT
  Gemfile.lock
  charts/tax-tribunals-application/Chart.yaml
  features/one_email_required.feature
  features/support/capybara_driver_helper.rb
  features/support/document_upload_helper_stub.rb
  features/support/env.rb
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-428

#448 Minot gem and rails update
  Gemfile.lock
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-448
