Repository hmcts/tax-tribunals-datacapture, pull requests merged in 2025-05, with the labels that each got.

#468 RST-7244 - File upload component translations
  app/assets/javascripts/modules/file-upload-translations-variables.js.erb
  app/assets/javascripts/modules/file-upload-translations.js
  app/assets/javascripts/modules/single-file-upload.js
  charts/tax-tribunals-application/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  sonar-project.properties
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-468

#456 RST-7231 - Pa11y Accessibility Tests
  pa11y/tests/appeal/.pa11yci.json
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-456

#473 CI fix
  config/environments/test.rb
  features/challenge_decision.feature
  features/hardship_contact_hmrc.feature
  features/start_to_end.feature
  features/step_definitions/challenge_decision_steps.rb
  features/step_definitions/hardship_contact_hmrc_steps.rb
  features/step_definitions/start_to_end_steps.rb
  features/support/page_objects/appeal/challenge_decision_page.rb
  features/support/page_objects/appeal/contact_hmrc_page.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-473

#418 RST-7156 Adding GLIMR api call background job
  Dockerfile
  app/jobs/glimr_api_call_job.rb
  app/services/tax_tribs/case_creator.rb
  config/initializers/sidekiq.rb
  config/sidekiq.yml
  features/representative.feature
  sidekiq.sh
  spec/jobs/glimr_api_call_job_spec.rb
  spec/services/tax_tribs/case_creator_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-418

#483 Load sentry DSN in Sidekiq pod too
  charts/tax-tribunals-application/Chart.yaml
  charts/tax-tribunals-application/values.yaml
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-483

#482 RST-7156 Moving glimr queue to front
  app/jobs/glimr_api_call_job.rb
  app/services/tax_tribs/case_creator.rb
  config/sidekiq.yml
  sidekiq.sh
  spec/services/tax_tribs/case_creator_spec.rb
Labels: ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-482

#486 Tpet 364 gem updates
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
  app/models/tribunal_case.rb
  package.json
  yarn.lock
Labels: enable_keep_helm, ns:tax-tribunals, prd:tax-tribunals, rel:tax-tribunals-application-pr-486
